.box2{
    height: 130px;
    margin-top: -20px;
    margin-bottom: 35px;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    border: 5px solid #FFFFFF;
    border-bottom-left-radius: 70px  ;
    border-bottom-color:  #F2F2E6;
    border-left-color: #F2F2E6;
}
.Logo2-image{
    width: 160px;
    height: 80px;
    object-fit: contain; /* รูปภาพจะถูกปรับขนาดโดยไม่ถูกตัด */
    margin-top: 25px;
    float: left;
    margin-left: 6px;
}
.content-with-navbar {
    padding-bottom: 80px; /* เผื่อพื้นที่สำหรับแถบเมนูด้านล่าง */
  }


/*Profile*/
.userprofilehome{
  background-color: #FD6E2B;
  width: 90%;
  height: 130px;
  margin: 0px auto;
  border: 3px solid white;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}
.datahomeprofile{
  margin-top: 15px;
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  
}
.datahomeprofile span{
  font-size: 20px;
  margin-left: 7px;
}
.datahomeprofile p{
  display: flex;
  font-size: 20px;
  font-weight: bold;
  margin-left: 20px;
  margin-bottom: 0px;
}
.photohomeprofile{
  position: relative;
  bottom: 128px;
  left: 115px;
}
.profile1{
  width: 85px;
  height: 80px;
}

/*อาคารแสดง member*/
.buildingLot{
  background-color: #ffffff;
  width: 90%;
  height: 150px;
  margin: 0px auto;
  margin-top: 23px;
  border: 3px solid #F2F2E6; 
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}
.lot1 {
  margin-top: 6px;
}

.buildingLot2{
  background-color: #ffffff;
  width: 90%;
  height: 150px;
  margin: 0px auto;
  margin-top: 23px;
  border: 3px solid #F2F2E6; 
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}
.lot2 p{
  float: left;
  margin-left: 9px;
  margin-bottom: 1px;
}
.titlelot2{
  font-weight: bold;
  color: #332D24;
  font-size: 21px !important;
  margin-top: 2px;
  margin-bottom: 3px !important;
  float: left;
}
.parkingphoto2{
  float: left;
  margin-left: 4px;
  margin-top: 4px;
}

.parkingphoto1{
  float: left;
  margin-left: 8px;
}
.titlelot{
  font-weight: bold;
  color: #332D24;
  font-size: 21px;
  margin-top: 8px;
  margin-bottom: 3px !important;
  float: left;
}
.lot1 p{
  float: left;
  margin-left: 16px;
  margin-bottom: 1px;
}

/*QRCode*/

.QRCodescan{
  background-color: white;
  position: relative;
  width: 88%;
  height: 60px;
  top: 25px;
  margin: 0px auto;
  border: 3px solid #F2F2E6;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  cursor: pointer; /* รูปมือเฉพาะในกล่อง */
  
}
.bottomscan{
  position: absolute;
  margin-left: 130px;
  margin-top: 8px;
  font-weight: bold;
  font-size: 24px;
  color: #473366;
  cursor: pointer; /* รูปมือเฉพาะในกล่อง */
}
.BoxQRCode{
  background-color: #FFFFFF;
  border: 3px solid #FD6E2B;
  border-radius: 10px;
  width: 83px;
  height: 83px;
  margin-top: -13.5px;
  margin-left: -3px;
  cursor: pointer; /* รูปมือเฉพาะในกล่อง */
}
.BoxQRCode img {
  display: block; /* ป้องกันการเกิด margin/padding นอกขอบภาพ */
}
.QRCodescan > a {
  text-decoration: none;
}
.QRCode{
  margin: 3px auto;
  width: 70px;
  height: 70px;

}

/*Graph*/
.boxgraph{
  width: 90%;
  height: 330px;
  background-color: #FFFFFF;
  margin: 0px auto;
  margin-top: 55px;
  border-radius: 10px;
  padding: 5px;
}
.graphbox1{
  margin-right: 5px;
}


/*Navber*/
  .boxnav1{
    width: 390px; /* ความกว้างของ bottom-navbar */
    margin: 0 auto;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border: 10px  #ffffff;
    background-color: #F2F2E6;
    height: 80px;
    padding-bottom: 80px; /* เผื่อพื้นที่สำหรับแถบเมนูด้านล่าง */
  }

  .boxnav{
    width: 365px; /* ความกว้างของ bottom-navbar */
    margin: 0 auto;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border: 10px  #F2F2E6;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    background-color: #F2F2E6;
    height: 108px;
  }
  
  .bottom-navbar {
    width: 330px; /* ความกว้างของ bottom-navbar */
    margin: 0 auto;
    position: fixed;
    bottom: -2px;
    left: 0;
    right: 0;
    background-color: #4B2E83;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border: 2px solid #FFFFFF;
    padding: -10px;
    z-index: 1000;   /*จัดองค์ประกอบให้เรียงกันในแนวนอน*/
    display: flex;  /*ใช้ในการควบคุมว่าองค์ประกอบใดจะถูกแสดงก่อนหรือหลังองค์ประกอบอื่น ๆ เมื่อมีการซ้อนทับกัน*/
    justify-content: space-evenly; /* กระจายไอเท็มให้เท่าๆ กัน */
    align-items: center;
    flex-wrap: nowrap; /* ป้องกันไม่ให้แยกแถว */
    height: 98px; /* ความสูงอัตโนมัติ */
    font-size: 14.5px;
  }
  
  .nav-item {
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    width: 80px; /* ปรับความกว้างตามต้องการ */
    transition: background-color 0.3s ease, color 0.3s ease; 

  }
  .nav-item a {
    text-decoration: none; /* ลบเส้นใต้ */
  }
  
  .nav-item a:hover {
    text-decoration: none; /* ป้องกันเส้นใต้เมื่อชี้เมาส์ */
  }
  .nav-item .icon {
    color: #FFFFFF; /* สีปกติของไอคอน */
    transition: color 0.3s ease; 
  }
  .nav-item span {
    color: #FFFFFF; /* สีปกติของไอคอน */
    white-space: nowrap; /* ป้องกันการตัดคำ */
    transition: color 0.3s ease;
  }
  .nav-item:hover {
    border-radius: 10px; /* เพิ่มความโค้งมน */
  }
  
  .nav-item:hover .icon {
    color: #ff905c; /* สีไอคอนเมื่อชี้เมาส์ */
  }
  
  .nav-item:hover span {
    color: #ff905c; /* สีข้อความเมื่อชี้เมาส์ */
  }
  /*กดเข้มขึ้น*/
  .nav-item:active {
    border-radius: 10px;
  }
  .nav-item:active .icon {
    color: #FD6E2B; /* สีไอคอนเมื่อ active */
  }
  
  .nav-item:active span {
    color: #FD6E2B; /* สีข้อความเมื่อ active */
  }
  /*ตอนอยู่หน้านั่นๆ*/
  .nav-item.active {
    border-radius: 10px;
  }
  .nav-item.active .icon {
    color: #FD6E2B; /* สีไอคอนเมื่อ active */
  }
  
  .nav-item.active span {
    color: #FD6E2B; /* สีข้อความเมื่อ active */
  }
  
  .icon {
    display: block;
  
    margin-bottom: 5px; /* ระยะห่างระหว่างไอคอนและชื่อเมนู */
    margin-left: 10px;
  }
  .home-link {
    width: 60px; /* กำหนดความกว้างสำหรับปุ่ม หน้าแรก */
    margin-left: -22px;
    margin-right: -4px;
  }
  
  .findparking-link {
    width: 80px; /* กำหนดความกว้างสำหรับปุ่ม ค้นหาลานจอด */
    margin-left: -30px;
  }
  
  .record-link {
    width: 80px; /* กำหนดความกว้างสำหรับปุ่ม ประวัติการจอด */
    margin-left: -9px;
  }
  
  .profile-link {
    width: 80px; /* กำหนดความกว้างสำหรับปุ่ม ข้อมูลส่วนตัว */
    margin-left: 3px;
    margin-right: 2px;
  }

  .home-link .icon {
    margin-left: 9px; /* ขยับไอคอนไปทางขวาในปุ่ม หน้าแรก */
    margin-right: 10px;

  }
  
  .findparking-link .icon {
    margin-left: 6px; /* ขยับไอคอนไปทางซ้ายในปุ่ม ค้นหาลานจอด */

  }
  
  .record-link .icon {
    margin-left: 16px; /* ขยับไอคอนไปทางขวาในปุ่ม ประวัติการจอด */

  }
  
  .profile-link .icon {
    margin-left: 5px; /* ขยับไอคอนไปทางซ้ายในปุ่ม ข้อมูลส่วนตัว */

  }
  
  
  /* ปรับสำหรับหน้าจอขนาดมือถือ */
  @media (max-width: 576px) {
    .boxnav{
        width: 95%; /* ความกว้างของ bottom-navbar */
        margin: 0 auto;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        border: 10px solid #F2F2E6;
        height: 115px;
      }
    .bottom-navbar {
      width: 90%;
      flex-direction: column; /* เรียงเป็นแนวยาว */
      flex-wrap: wrap; /* ให้สามารถแบ่งเป็นหลายแถวได้ถ้าจำเป็น */
      height: 105px;
      padding: -10px;
      font-size: 13.5px;
    }
  
    .nav-item {
      padding: 1px 0; /* เพิ่มพื้นที่ระหว่างไอเท็มในแนวตั้ง */
      text-align: center;
    }
    .home-link {
      width: 60px; /* กำหนดความกว้างสำหรับปุ่ม หน้าแรก */
      margin-left: -28px;
      margin-right: -4px;
    }
    
    .findparking-link {
      width: 80px; /* กำหนดความกว้างสำหรับปุ่ม ค้นหาลานจอด */
      margin-left: -31px;
    }
    
    .record-link {
      width: 80px; /* กำหนดความกว้างสำหรับปุ่ม ประวัติการจอด */
      margin-left: -10px;
    }
    
    .profile-link {
      width: 80px; /* กำหนดความกว้างสำหรับปุ่ม ข้อมูลส่วนตัว */
      margin-left: 10px;
    }
  
    .home-link .icon {
      margin-left: 10px; /* ขยับไอคอนไปทางขวาในปุ่ม หน้าแรก */
      margin-right: 10px;
    }
    
    .findparking-link .icon {
      margin-left: 2px; /* ขยับไอคอนไปทางซ้ายในปุ่ม ค้นหาลานจอด */
    }
    
    .record-link .icon {
      margin-left: 10px; /* ขยับไอคอนไปทางขวาในปุ่ม ประวัติการจอด */
    }
    
    .profile-link .icon {
      margin-left: 6px; /* ขยับไอคอนไปทางซ้ายในปุ่ม ข้อมูลส่วนตัว */
    }
  
}
  
  
  
  
  