.box3 {
  height: 130px;
  margin-top: -20px;
  margin-bottom: 30px;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: 5px solid #ffffff;
  border-bottom-left-radius: 70px;
  border-bottom-color: #f2f2e6;
  border-left-color: #f2f2e6;
}
.Logo3-image {
  width: 160px;
  height: 80px;
  object-fit: contain; 
  margin-top: 25px;
  float: left;
  margin-left: 6px;
}
.content-with-navbar {
  padding-bottom: 80px;
}

.receipt-container {
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px !important;
  box-shadow: 0 4px 8px rgba(131, 80, 80, 0.1);
  font-family: Arial, sans-serif;
  color: #1f1f1f !important;
}

.receipt-header {
  text-align: center;
  padding: 10px;
  border-radius: 8px 8px 0 0;
  color: #333;
  font-weight: bold;
}

.receipt-details .headpay {
  display: flex;
  justify-content: space-between;
  flex-direction: column; /*ให้อยู่กลาง*/
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 25px;
}
.receipt-details {
  margin-top: 0px;
  padding: 15px;
  border: 5px solid #473366;
  border-radius: 8px;
  background-color: #fdfdfd;
}

.receipt-details p {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
  font-size: 16px;
}
.boxtotal {
  border: 5px solid #473366;
  background-color: #E7D8FF;
  margin-left: -20px;
  margin-right: -20px;
  margin-top: 5%;
  margin-bottom: 5%;
}
.receipt-details .total {
  font-weight: bold;
  font-size: 22px;
  padding: 4%;
}

.link-no-underline {
    text-decoration: none;
    color: inherit; /* คงสีของข้อความ */
  }
.payment-methods {
  text-align: center;
  margin-top: 35px;
}

.payment-methods h2 {
  font-size: 25px;
  margin-bottom: 30px;
  font-weight: bold;
  color: #000;
}

.payment-btn {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  font-size: 16px;
  color: #000000;
  border: none;
  border-radius: 10px !important;
  cursor: pointer;
}

.payment-btn.promptpay {
  margin-bottom: 15px;
  background-color: #ffffff;
  border: 1px solid rgb(221, 221, 221);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease; 
}

.payment-btn.promptpay:hover {
  background-color: #ecebeb !important;  /* เปลี่ยนสีเมื่อวางเมาส์ */
}

.payment-btn.promptpay:active {
  background-color: #dddddd !important;  /* สีเมื่อกดปุ่ม */
}

.payment-btn.truemoney {
  margin-bottom: 15px;
  background-color: #ffffff;
  border: 1px solid rgb(221, 221, 221);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease; 
}
.payment-btn.truemoney:hover {
    background-color: #ecebeb !important;  /* เปลี่ยนสีเมื่อวางเมาส์ */
  }
  
  .payment-btn.truemoney:active {
    background-color: #dddddd !important;  /* สีเมื่อกดปุ่ม */
  }

.payment-btn.cash {
  margin-bottom: 15px;
  background-color: #ffffff;
  border: 1px solid rgb(221, 221, 221);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease; 
}
.payment-btn.cash:hover {
    background-color: #ecebeb !important;  /* เปลี่ยนสีเมื่อวางเมาส์ */
  }
  
  .payment-btn.cash:active {
    background-color: #dddddd !important;  /* สีเมื่อกดปุ่ม */
  }

  .btn-logo{
    width: 60px;
    height: 25px;
    margin-right: 50px;
    object-fit: contain; /* รูปภาพจะถูกปรับขนาดโดยไม่ถูกตัด */
  }

.main-content {
  flex: 1;
  padding-bottom: 130px; /* เผื่อพื้นที่สำหรับ bottom-navbar */
}

.form-buttonsP {

  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;  
  gap: 10px; /* ระยะห่างระหว่างปุ่ม */
  margin-top: 30px; /* ระยะห่างด้านบน */
}

.form-buttonsP .btn2 {
  background-color: #ffffff !important; /* พื้นหลังขาว */
  color: #000000; /* ฟ้อนสีดำ */
  border: 2px solid #cccccc;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;  
  gap:5px;
  transition: all 0.3s ease;
  width: 160px; /* กำหนดความกว้างให้ปุ่มเท่ากัน */
  height: 50px; /* กำหนดความสูงให้ปุ่มเท่ากัน */
  text-align: center; /* จัดข้อความให้อยู่กลาง */
}

.form-buttonsP .btn2:hover {
  background-color: #ff8953; /* สีเทาอ่อนเมื่อ hover */
  color: #000000;
  border-color: #FD6E2B;
}
.form-buttonsP .btn2:active {
  background-color: #ffdfd0 !important; /* สีเทาอ่อนเมื่อ hover */
  color: #000000;
  border-color: #FD6E2B;
}



